#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://clashofclans.com/uploaded-images/Share.png?mtime=20151117063807');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 1;
    filter:yellow(opacity=50);
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://clashofclans.com/uploaded-images/Share.png?mtime=20151117063807');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: .8;
    filter:yellow(opacity=50);
}


.navbar{   
     background-image: url("http://www.psdgraphics.com/file/dark-wood-texture.jpg");
}
.nav.navbar-nav.navbar-right1 li a:hover {
 color: red;
}
.nav.navbar-nav.navbar-right li a{
 color: white;
}
#navon1 {color: #f1f1f1;}
#navon1 a:hover{color:yellow;}

#navon2 li a{color: #f1f1f1; font-weight: bold; font-size: 15px; font-family: "proza";}
#navon2 li a:hover {color:yellow;}

.topmenu_container {
    background-image: url(http://static.iclanwebsites.com/themes/theme_155/h6qm_topmenu.png);
}
    
.topmenu_container {
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px 0px 3px 0px;
    text-align: center;
    position: relative;
    z-index: 99;
}

/* Site Countdown Part
=====================================================================*/
.countdown{
    color: #fff;
    margin: 40px auto 10px;
    width: 70%;
}
.countdown_row{
    display: block;
    margin-left: 5px;
    overflow: hidden;
    width: 100%;
}
.countdown_section{
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #ddd;
    border-radius: 100%;
    display: block;
    float: left;
    font-size: 25px;
    margin: 15px 30px auto;
    padding: 30px 12px;
    text-align: center;
    width: 140px;
}
.countdown_amount{
    font-size: 25px;
    font-weight: 800;
}
p {text-align:left;
color:black;
font-family: 'Gloria Hallelujah', cursive;
font-size:23px;}
body{background-color:lightgrey;}
 #header{text-align:left;
color:white;
font-family:'Pridi', serif;
}
body{background-color:lightgrey;}
.well.well-lg{
  background-image: url("http://www.texturex.com/albums/Metal-Textures/dark%20brushed%20metal%20texture%20steel%20black%20stock%20photo%20scratch%20wallpaper.jpg");
  height:100%;
  width:100%;
   
}
  
#launch {
font-family: 'Gloria Hallelujah', cursive;
color:black;
}
